<div class="momo main-menu top">
    <div class="header-items__item" style="display:flex; align-items: center;">
        <a href="{{ routes.root_url }}">
            HOME
            <!-- <img style="cursor:pointer;" src="{{ section.settings.small_logo | img_url: '30x' }}"/> -->
        </a>
    </div>
    {%- for link in linklists[section.settings.menu_linklist].links -%}

        <div class="menu-wrapper">
            <a 
                href="{{ link.url }}"
                class="momo main-menu-item header-items__item">
                {{- link.title -}}
            </a>
            {% include 'momo-main-menu-submenu' %}
        </div>

        <!-- <li class="main-menu-list-item{% if link.links != blank %} has-children{% endif %}{% if link.active %} active{% endif %}">
        <a class="main-menu-link" href="{{ link.url }}" {% if link.links != blank %}aria-haspopup="true" aria-controls="main-menu-panel-{{ forloop.index }}"{% endif %}>
            {{- link.title -}}
        </a>

        {%- if link.links != blank -%}
            <div class="child-indicator">
            <div class="child-indicator__primary">{% include 'svg-menu-children' %}</div>
            <div class="child-indicator__secondary">{% include 'svg-arrow-right' %}</div>
            </div>
        {%- endif -%}
        </li> -->
    {%- endfor -%}
    <div class="float-area">
        <a href="{{ routes.cart_url }}" class="header-items__item">CART</a>
        <span class="header-items__item header-items__search-link">
            <a href="{{ routes.search_url }}" class="header-search-toggle" aria-label="{{ 'layout.header.search' | t | json }}">{% include 'svg-search' %}</a>
        </span>
    </div>
</div>
