{%- comment -%} style at: momo-footer.styles.scss {%- endcomment -%}

<footer id="pagefooter" class="pagefooter momo" data-section-type="footer">

  {% if section.settings.show_newsletter %}
    <div class="signup-section momo">
      <div class="container">
        {% form 'customer' %}
          <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>

          <div class="signup-icon momo">{% include 'svg-email' %}</div>

          <h4>{{ section.settings.newsletter_heading }}</h4>

          {% if section.settings.newsletter_text != blank %}
          <div class="rte momo newsletter_text">{{ section.settings.newsletter_text }}</div>
        {% endif %}

          <div class="input-and-button-row">
          
            <div class="input-and-button-row__input-wrapper">
              <input class="input-and-button-row__input" type="email" placeholder="{{ 'layout.signup.email' | t }}" value="" aria-label="{{ 'layout.signup.email' | t | escape }}" name="contact[email]" required />
            </div>
            <button class="button input-and-button-row__button" type="submit">{{ section.settings.newsletter_button_text }}</button>
          </div>

        {% endform %}
      </div>
    </div>
  {% endif %}

  <div class="momo lists container">
    {%- assign footer_column_count = 0 -%}
    {%- if linklists[section.settings.menu_linklist].links.size > 0 -%}{%- assign footer_column_count = footer_column_count | plus: 1 -%}{%- endif -%}
    {%- if section.settings.menu_linklist_2 != blank and linklists[section.settings.menu_linklist_2].links.size > 0 -%}{%- assign footer_column_count = footer_column_count | plus: 1 -%}{%- endif -%}
    {%- if section.settings.menu_linklist_3 != blank and linklists[section.settings.menu_linklist_3].links.size > 0 -%}{%- assign footer_column_count = footer_column_count | plus: 1 -%}{%- endif -%}
    {%- if section.settings.show_text_area -%}{%- assign footer_column_count = footer_column_count | plus: 1 -%}{%- endif -%}

    <div class="footer-columns footer-columns--count-{{ footer_column_count }}">
      {% if linklists[section.settings.menu_linklist].links.size > 0 %}
      <nav class="nav footer-columns__column momo shop-menu" role="navigation" aria-label="{{ 'layout.footer.menu_aria_label' | t | escape }}">
        {%- if section.settings.show_menu_headings -%}
          <h6 class="footer-column-heading">{{ linklists[section.settings.menu_linklist].title }}</h6>
        {%- endif -%}

        <ul class="footer-nav-links">
          {% for link in linklists[section.settings.menu_linklist].links %}
          <li class="footer-nav-links__item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}

      {% if section.settings.menu_linklist_2 != blank and linklists[section.settings.menu_linklist_2].links.size > 0 %}
      <nav class="nav footer-columns__column momo info-menu" role="navigation" aria-label="{{ 'layout.footer.menu_aria_label' | t | escape }}">
        {%- if section.settings.show_menu_headings -%}
          <h6 class="footer-column-heading">{{ linklists[section.settings.menu_linklist_2].title }}</h6>
        {%- endif -%}

        <ul class="footer-nav-links">
          {% for link in linklists[section.settings.menu_linklist_2].links %}
          <li class="footer-nav-links__item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}

      {% if section.settings.menu_linklist_3 != blank and linklists[section.settings.menu_linklist_3].links.size > 0 %}
      <nav class="nav footer-columns__column" role="navigation" aria-label="{{ 'layout.footer.menu_aria_label' | t | escape }}">
        {%- if section.settings.show_menu_headings -%}
          <h6 class="footer-column-heading">{{ linklists[section.settings.menu_linklist_3].title }}</h6>
        {%- endif -%}

        <ul class="footer-nav-links">
          {% for link in linklists[section.settings.menu_linklist_3].links %}
          <li class="footer-nav-links__item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}

      {% if section.settings.show_text_area %}
      <div class="footer-columns__column">
          <h6 class="footer-column-heading">{{ section.settings.text_area_heading }}</h6>
          <div class="rte">{{ section.settings.text_area_text }}</div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="momo dry-info">

    <div class="momo footer-info-section">
      <h6>Contact</h6>
      <div class="content">
        {%- comment -%}
          TODO: get from section settings!
        {%- endcomment -%}
        +972-544-983-132<br/>
        momosarajewelry@gmail.com
      </div>
    </div>

    <div class="momo footer-info-section">
      <h6>Location</h6>
      <div class="content">
        {%- comment -%}
          TODO: get from section settings!
        {%- endcomment -%}
        Jaffa Rd. 7, Tel Aviv, Israel<br/>
        <div class="small-note">
          Studio visits by appointment only
        </div>
      </div>
    </div>

  </div>


  <div class="lower-footer momo-hidden">
    <div class="container">
      {% if section.settings.show_locale_selector or section.settings.show_currency_selector %}
        <div class="lower-footer__left">
          <div class="store-localization">
            {% include 'localization', input_prefix: 'footer' %}
          </div>
        </div>
      {% endif %}
      {% if section.settings.show_social %}
        <div class="lower-footer__right">
          {% include 'social-icons' %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="lower-footer momo-hidden">
    <div class="container">
      <div class="lower-footer__left">
        <div class="copyright" role="contentinfo">
          <span class="seg">&copy; {{ "now" | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name }}</a></span>
          {{ powered_by_link }}
        </div>
      </div>

      {% if section.settings.show_payment_icons %}
        <div class="payment-methods lower-footer__right">
          <div class="payment-methods__inner">
            {% for type in shop.enabled_payment_types %}
              <img class="payment-icon lazyload fade-in" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{ type | payment_type_img_url }}" alt="{{ type | escape }}" />
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
        "default": "footer",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "menu_linklist_2",
        "label": "Second menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "menu_linklist_3",
        "label": "Third menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "show_menu_headings",
        "label": "Show menu heading",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Text area"
      },
      {
        "type": "checkbox",
        "id": "show_text_area",
        "label": "Show text area",
        "default": false
      },
      {
        "type": "text",
        "id": "text_area_heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text_area_text",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Payment methods"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Newsletter signup"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "text",
        "id": "newsletter_heading",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "richtext",
        "id": "newsletter_text",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Button text",
        "default": "Subscribe"
      }
    ]
  }
{% endschema %}
