<div data-section-type="page-template">
  {% comment %}
  {% capture header_content %}
    <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
      <a class="breadcrumbs__crumb" href="{{ routes.root_url }}">{{ 'general.breadcrumbs.home' | t }}</a>
      <span class="breadcrumbs__divider" aria-hidden="true">{% include 'svg-chevron-right' %}</span>
      <span class="breadcrumbs__crumb">{{ page.title }}</span>
    </nav>

    <h1>{{ page.title }}</h1>
  {% endcapture %}

  {% if section.settings.header_image != blank %}
    <div class="banner-image-container banner-under-header">
      {% include 'responsive-background', image: section.settings.header_image, class: 'banner-image fixed-height' %}

      <div class="banner-image-text feature-page-title">
        {{ header_content }}
      </div>
    </div>
  {% else %}
    <div class="feature-page-title">
      {{ header_content }}
    </div>
  {% endif %}
  {% endcomment %}

  <div class="container">
    <div id="main" class="content-main" role="main">
      <div class="rte reading-width">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Page",
    "settings": [
      {
        "type": "header",
        "content": "Header image"
      },
      {
        "type": "paragraph",
        "content": "Shown on all standard pages"
      },
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
