{% layout none %}<!DOCTYPE html>
<html class="template-password" lang="{{ shop.locale }}">
<head>
  <title>{{ shop.name | escape }}</title>
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
  <script>
    window.theme = window.theme || {};
    theme.jQuery = jQuery;
    theme.strings = {
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }},
      close: {{ 'general.accessibility_labels.close' | t | json }}
    };
  </script>
  {{ content_for_header }}
</head>
<body>

  {% section 'header' %}

  {% section 'password-template' %}

  {{ 'vendor.js' | asset_url | script_tag }}
  <script>
    $(document).on('ready shopify:section:load', function(){
      $('#password-login-container').hide();
      var $link = $('.password-login-link a').colorbox({inline:true, margin:0, close: theme.strings.close});
      if($('#password-login .errors').length) {
        $link.click();
      }
    });
  </script>

</body>
</html>
